<h1>Editing pokemon stat</h1>

<%= render "form", pokemon_stat: @pokemon_stat %>

<br>

<div>
  <%= link_to "Show this pokemon stat", @pokemon_stat %> |
  <%= link_to "Back to pokemon stats", pokemon_stats_path %>
</div>
