<h1>Editing indiv stat</h1>

<%= render "form", indiv_stat: @indiv_stat %>

<br>

<div>
  <%= link_to "Show this indiv stat", @indiv_stat %> |
  <%= link_to "Back to indiv stats", indiv_stats_path %>
</div>
