<p style="color: green"><%= notice %></p>

<h1>My pokemons</h1>
<%= link_to "New my pokemon", new_my_pokemon_path %>
<p>
  <strong>User:</strong><%= current_user.username %>
</p>
<div id="my_pokemons" class="flex wrap js-cont-sb gap-3">
  <% @my_pokemons.each do |my_pokemon| %>
    <%= render my_pokemon %>
    
  <% end %>
</div>


