<h1>TRAIN</h1>
<div class="img-pok">
  <img src='<%=@my_pokemon.pokemon.image%>' width=100% >
  <h2><%= @my_pokemon.pokemon.name%></h2>
</div>
<br>
<br>
<br>

<div class="img-pok">
  <img src='<%=@bot_pokemon.pokemon.image%>' width=100% >
  <h2><%= @bot_pokemon.nickname%></h2>
</div>