<h1>Editing effort stat</h1>

<%= render "form", effort_stat: @effort_stat %>

<br>

<div>
  <%= link_to "Show this effort stat", @effort_stat %> |
  <%= link_to "Back to effort stats", effort_stats_path %>
</div>
