<p style="color: green"><%= notice %></p>

<h1>Effort stats</h1>

<div id="effort_stats">
  <% @effort_stats.each do |effort_stat| %>
    <%= render effort_stat %>
    <p>
      <%= link_to "Show this effort stat", effort_stat %>
    </p>
  <% end %>
</div>

<%= link_to "New effort stat", new_effort_stat_path %>
