@import url("./utils.css");
@import url("./flex.css");
@import url("./spaces.css");
@import url("./button.css");
@import url("./text.css");

.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.img-pok{
  width: 200px;
  height: 170px;
}

.img{
  width:100%
}

li{
  list-style: none;
}



.card{
  background-color:white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem rgba(128, 128, 128, 0.502);
}

.card:hover{
  box-shadow: 0.5rem 0.5rem rgba(30, 30, 30, 0.502);
  scale:1.05;
  background-color:rgba(104, 199, 201, 0.27);
}