@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
.text{
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.style-none{
  text-decoration: none;
  color: inherit;
}